*{
    font-family: Arial, Helvetica, sans-serif;
}

.map-container {
    position: relative;
    display: inline-block;
}

#info-card {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    z-index: 100;
    pointer-events: none;
    width: 150px; 
    }

#info-card p {
    margin: 3px 0 0 0; /* Add space between image and text */
    font-size: 0.9rem;
    line-height: 1.3;
    text-align: justify;
}

#info-card h3 {
    margin: 0 0 8px 0;
    font-size: 1.1rem;
    padding-bottom: 4px;
    text-align: center;
}